<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    

    <title>Games</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">Games</a>
            <ul class="navbar-menu">
                {{#if session.userid}}
                    <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
                    <li class="navbar-item"><a href="/create" class="navbar-link">Cadastrar Jogo</a></li>
                    <li class="navbar-item"><a href="/verCarrinho" class="navbar-link">Carrinho</a></li>
                    <li class="navbar-item"><a href="/auth/logout" class="navbar-link">Sair</a></li>
                {{else}}
                    <li class="navbar-item"><a href="/auth/login" class="navbar-link">Login</a></li>
                    <li class="navbar-item"><a href="/auth/register" class="navbar-link">Registrar</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <div class="content">
        {{{body}}}
        {{#if messages.message}}
            <div class="message">
                {{messages.message}}
            </div>        
        {{/if}}
    </div>
</body>
</html>