/*
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    background: url('/img/1351818.png') no-repeat center center fixed;
    background-size: cover;
}
    */

body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background: url('/img/1351818.png') no-repeat center center fixed;
        background-size: cover;
        overflow-y: scroll; /* Permite a rolagem vertical */
}



.form-container {
    margin-top: 120px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.btn, input[type= "submit"] {
    width: 27%;
    margin-top: 10px;
    padding: 10px;
    background-color: #3f47b8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
  }

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3f47b8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3f47b8;
}

.content {
    margin-top: 20px; /* Espaço suficiente para a navbar fixa */
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    padding: 1em;
    color: #004085;
    background-color: #cce5ff;
    border: 1px soli d#b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
  }




.navbar {
    background-color: #464855;
    color: white;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar-link:hover {
    text-decoration: underline;
}

/* Additional Styles for Main Content */
.games-container {
    width: 65%;
    max-width: 1200px;
    margin: 100px auto 20px; /* Adjust margin-top to account for fixed navbar */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.games-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.game-item {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.game-item p {
    margin: 10px 0;
}

.game-item strong {
    font-weight: bold;
}

.game-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}



  